<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '"{{ mysql_database_name }}"' );

/** MySQL database username */
define( 'DB_USER', '"{{ mysql_user_name }}"' );

/** MySQL database password */
define( 'DB_PASSWORD', '"{{ mysql_user_password }}"' );

/** MySQL hostname */
define( 'DB_HOST', '"{{ private_ip_sql }}"' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '3}UQz$ I{lNJ+Z?O;]P#3rEnZp{zL4Hrr]`bIz@3z?-,EGhKjHv1lIy{ rpnq/8/' );
define( 'SECURE_AUTH_KEY',  'T-*sZk@Zs1>XlXs)Y-rX,K1PrbglG2E,Vp{Sf?%>JN0*|)&+m[_9BDWa_9Ft/?*Z' );
define( 'LOGGED_IN_KEY',    'l3j3GLXiU{??JYYpwN;/f;i/7<r#Fl-r|Z<E(geN=b98e8BO=X/& <8cawtv9.T!' );
define( 'NONCE_KEY',        'e5D}?lvNQLzadp)veVlZw/9;Kqtk~^{r,(+p:I{IOQ7m< <1}A9m7|k&H|}-:h+]' );
define( 'AUTH_SALT',        'vmw;Q&C&[Lx9gh{zz?C37 S[rQ[#14IX,YPQ+}0-EOl|;$c;?yxi(O!j~}x,il^H' );
define( 'SECURE_AUTH_SALT', '^<ndf{y.M@CB2U!lq1]%,hyjqISPMV]0doUjs7jp|5QkLo(Q*x|K;hK~hK(O]S+P' );
define( 'LOGGED_IN_SALT',   'Ab{jz{{Zu0v,CA3vAg3e/~fejFP&qK%8&}2/Du-B]A3A^,7biEl[/:IQSv]$b.Vk' );
define( 'NONCE_SALT',       'Dz>iV2#KM:[1:HT-]p!0+-arf4(e%MKr/Ug>sW|,l=4k*8I~:32lNw=1J-0@1WB%' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );
